.footer {
    background: url('/assets/img/ft.jpg') center center / cover no-repeat;
    height: 640px;
    margin-top: 76px;
    padding: 82px 0;
}

.footer-heading {
    margin-bottom: 36px;
}

.footer-heading__text-sub {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #999;
}

.footer-heading__text-title {
    font-size: 3rem;
    margin-top: 20px;
    color: #555555;
}

.footer-heading__form {
    margin-top: 32px;
}

.footer-heading__input {
    height: 46px;
    border: none;
    outline: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0 24px;
    font-size: 1.2rem;
    width: 256px;
}

.footer-heading__btn {
    width: 100px;
    height: 46px;
    background-color: #29B9D5;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-left: 16px;
    opacity: 0.8;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.footer-heading__btn:hover {
    cursor: pointer;
    opacity: 1;
}


.footer-contact {
    height: 340px;
    width: 100%;
    background-color: #fff;
}

.footer-contact__content {
    padding: 50px 46px 0 46px;
}

.footer-contact__content-heading {
    width: 150px;
    margin-bottom: 28px;
}

.footer-contact__content-text {
    line-height: 1.8;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    color: #aaa;
}

.footer-contact__content-socials {
    margin-top: 32px;
}

.footer-contact__content-socials-icon {
    font-size: 1.8rem;
    color: #555555;
    margin-right: 12px;
    cursor: pointer;
}

.footer-contact__site {
    margin-top: 52px;
}

.footer-contact__site-heading {
    margin-bottom: 46px;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    color: #555555;
}

.footer-contact__site-item {
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #aaa;
    letter-spacing: 1.4px;
    cursor: pointer;
}

.footer-contact__site-item + .footer-contact__site-item {
    margin-top: 12px;
}

.footer-contact__site-item-icon {
    margin-right: 12px;
}

.footer-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #29B9D5;
    width: 100%;
    padding: 0 36px;
}

.footer-foot h2 {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
}