.page2__title {
    text-align: center;
    margin: 72px 0 20px 0;
}

.page2__title--small {
    font-weight: 400;
    letter-spacing: 2px;
    color: #A0A09D;
}

.page2__title--big {
    font-size: 3.1rem;
    color: #555555;
    letter-spacing: 2px;
}

.list-site {
    margin: 16px 0 80px 0;
}

.site-item {
    background-color: #ccc;
    margin: 12px 0;
    height: 385px;
    position: relative;
    overflow: hidden;
}

.site-item:hover .site-item__wrap-packages {
    opacity: 1;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
}

.site-item__wrap-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-item__wrap-img-content {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.site-item__wrap-img-content--name {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 0 1px #ccc;
}

.site-item__wrap-img-content--package {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 8px;
}

.site-item__wrap-packages {
    display: flex;
    background-color: #29B9D5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeOut linear 0.5s;
    -webkit-animation: fadeOut linear 0.5s;
    opacity: 0;
}

.packages__title {
    color: #fff;
    font-size: 1.6rem;
}

.packages__site {
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-align: center;
}

.packages__site-item {
    margin-top: 20px;
}

.packages__site-item + .packages__site-item {
    margin-top: 8px;
}

.packages__btn {
    color: #29B9D5;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    height: 30px;
    width: 182px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 32px;
}

.packages__btn:hover {
    cursor: pointer;
}